.main{
  position:absolute;
  top: 850px;
  left: 0px;
  background:white;
  width: 100%;
  height: 70px;
  font-size: 16px;
  color: #999;
}
/* .footer{
  position: relative;
  top: 20px;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
} */
.info_1 span:hover, .info_2 span:hover{
  color:red;
  cursor: pointer;
}
.info_2{
  position:absolute;
  right:12px;
}
.info_1 span{
  margin-left: 1rem;
}
.info_2 span{
  margin-right: 1rem;
}

/* @media (max-width: 1280px) {
  .main{
      height: 120px;
  }
  .info_2{
    transform: translateY(50px);
  }
} */
